<!DOCTYPE html>
<html>
    <head>
        <title>
            Coursys - Formula Tester
        </title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/button.css" />
        <script type="text/javascript" src="/js/button.js" defer> </script>
    </head>
    <body> 
        <div id="outerBlack">
            <br>
            <div id="container">
                <div id="nightButton" align="right">
                    <button id="nightMode" type="button">NIGHT MODE</button>
                </div>
                <br>
                <div id="header">
                    <h1>
                        Top Causes
                    </h1>
                </div>
                <div id="main"> 
                    <h3>
                        <br>Save the Orphans!
                    </h3>
                    <div id="description">
                        The more money you give, the more orphans we can save
                    </div>  
                    <h3>Amount Raised</h3>
                    <p id="finalRes"></p>
                    <div id="buttons" align="right">
                        <p id="amount">0</p>
                        <input id="donation" type="number">
                        <button id="donate" type="button">DONATE</button>
                    </div>
                </div>
                <br><br>
            </div>
            <br>
            <br>
        </div>
    </body>
</html>